@charset "UTF-8";

#wrap{display: flex; flex-direction: column; padding: 0;}
#sub{flex: 1; /*position: relative; display: flex; align-items: flex-start;*/ /*justify-content: center;*/ width: 100%; height: 100%;}
/* #sub::after{width: 848px; height: 713px; content: ''; position: absolute; top:0; right:0; background: url(../images/sub/bg_icon01.svg)no-repeat center;}
#sub::before{width: 342px; height: 566px; content: ''; position: absolute; top:273px; left:0; background: url(../images/sub/bg_icon02.svg)no-repeat center;} */
.contentWrap{width: 100%; height: 100%;}
aside .weatherInfoBox01.effect,
aside .weatherInfoBox02.effect{animation: none;}

/* 헤더 */
#header{flex-shrink: 0; padding: 51px 94px; height: 217px; display: flex; align-items: center; justify-content: space-between; text-align: center; background: linear-gradient(to right, #77B8F8, #FDB7B7);}
#header h2{padding-top: 15px; color: #fff; font-size: 62px;}
#header .prev{width: 53px; height: 76px; background: url(../images/common/arrow_icon.svg)no-repeat center;}
#header .home{width: 77px; height: 76px; background: url(../images/common/home_icon.svg)no-repeat center;}

/* 푸터 */
#footer{flex-shrink: 0; height: 187px; display: flex; align-items: center; border-top: 1px solid #C2C2C2;}
#footer .logoBox{flex-shrink: 0; padding: 54px 0; width: 683px; height: 100%; border-right: 1px solid #C2C2C2;}
#footer .logoBox h1{display: flex; justify-content: center; align-items: center; gap: 0 20px;}
#footer .logoBox h1 span{padding-top: 10px; font-size: 36px; color: #434451;}
#footer nav{width: 100%;}
#footer nav,
#footer nav .depth,
#footer nav .depth li h2{height: 100%;}
#footer nav .depth {display: flex;}
#footer nav .depth li{flex:1; border-right: 1px solid #C2C2C2;}
#footer nav .depth li:last-child{border-right: 0;}
#footer nav .depth li h2 a{position: relative; display: block; padding: 69px 0; height: 100%; background-color: #F6F6F6; text-align: center; z-index: 1; transition: all .5s;}
#footer nav .depth li h2 a::before{content: ''; position: absolute; top:0; left:0; bottom: 0; width: 0; background: linear-gradient(to right, #63ACDA, #BE7086); transition: all .5s; z-index: -1;}
#footer nav .depth li h2 a:not(.active):hover span,
#footer nav .depth li h2 a:not(.active):active span{color: #fff;}
#footer nav .depth li h2 a:not(.active):hover::before,
#footer nav .depth li h2 a:not(.active):active::before{width: 100%;}
#footer nav .depth li h2 a span{display: flex; align-items: center; justify-content: center; gap: 0 50px; font-size: 47px; color: #585151;}
#footer nav .depth li h2 a span::before{content: ''; margin-top: -10px;  display: inline-block;
  animation-duration: 3s; animation-iteration-count: infinite; animation-timing-function: ease-in-out;}
#footer nav .depth li h2 a.active{background: linear-gradient(to right, #63ACDA, #BE7086);}
#footer nav .depth li h2 a.active span{color: #fff;}
#footer nav .depth li:nth-child(1) h2 a span::before{content: ''; width: 72px; height: 66px; background: url(../images/common/icon01.svg)no-repeat center; animation-name: effect01;}
#footer nav .depth li:nth-child(2) h2 a span::before{content: ''; width: 70px; height: 50px; background: url(../images/common/icon02.svg)no-repeat center; animation-name: effect02;}
#footer nav .depth li:nth-child(3) h2 a span::before{content: ''; width: 70px; height: 66px; background: url(../images/common/icon03.svg)no-repeat center; animation-name: effect03; transform-origin: top center;}
#footer nav .depth li:nth-child(4) h2 a span::before{content: ''; width: 70px; height: 66px; background: url(../images/common/icon04.svg)no-repeat center; animation-name: effect04;}
#footer nav .depth li:nth-child(5) h2 a span::before{content: ''; width: 70px; height: 83px; background: url(../images/common/icon05.svg)no-repeat center; animation-name: effect05;}

@keyframes effect01 {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
}

@keyframes effect02 {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

@keyframes effect03 {
  0% { transform: rotate(0); }
  15% { transform: rotate(25deg); }
  30% { transform: rotate(-20deg); }
  45% { transform: rotate(15deg); }
  60% { transform: rotate(-10deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0); }
}

@keyframes effect04 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes effect05 {
  0%, 100% { transform: scale(1); }
  14% { transform: scale(1.3); }
  28% { transform: scale(1); }
  42% { transform: scale(1.3); }
  70% { transform: scale(1); }
}

#footer nav .depth li:nth-child(1) h2 a:hover span::before,
#footer nav .depth li:nth-child(1) h2 a:active span::before{background: url(../images/common/icon_hover01.svg)no-repeat center;}
#footer nav .depth li:nth-child(1) h2 a.active span::before{background: url(../images/common/icon_hover01.svg)no-repeat center;}
#footer nav .depth li:nth-child(2) h2 a:hover span::before,
#footer nav .depth li:nth-child(2) h2 a:active span::before{background: url(../images/common/icon_hover02.svg)no-repeat center;}
#footer nav .depth li:nth-child(2) h2 a.active span::before{background: url(../images/common/icon_hover02.svg)no-repeat center;}
#footer nav .depth li:nth-child(3) h2 a:hover span::before,
#footer nav .depth li:nth-child(3) h2 a:active span::before{background: url(../images/common/icon_hover03.svg)no-repeat center;}
#footer nav .depth li:nth-child(3) h2 a.active span::before{background: url(../images/common/icon_hover03.svg)no-repeat center;}
#footer nav .depth li:nth-child(4) h2 a:hover span::before,
#footer nav .depth li:nth-child(4) h2 a:active span::before{background: url(../images/common/icon_hover04.svg)no-repeat center;}
#footer nav .depth li:nth-child(4) h2 a.active span::before{background: url(../images/common/icon_hover04.svg)no-repeat center;}
#footer nav .depth li:nth-child(5) h2 a:hover span::before,
#footer nav .depth li:nth-child(5) h2 a:active span::before{background: url(../images/common/icon_hover05.svg)no-repeat center;}
#footer nav .depth li:nth-child(5) h2 a.active span::before{background: url(../images/common/icon_hover05.svg)no-repeat center;}

/* 왼쪽영역 */
aside{padding-bottom: 67px; display: flex; flex-direction: column; width: 683px; border-right: 1px solid #C2C2C2; z-index: 1;}
aside nav{flex: 1; position: relative;margin-bottom: 117px;}
aside nav .infoList{position: relative;}
aside nav .infoList::after{width: 584px; height: 491px; content: ''; position: absolute; right:0; bottom: -491px; background: url(../images/sub/bg_icon03.svg)no-repeat center; z-index: -1;}
aside nav .infoList li a{position: relative; padding: 67px 0; display: block; height: 193px; text-align: center; font-size: 47px; color: #585151; border-bottom: 1px solid #C2C2C2; z-index: 1; transition: all .5s;}
aside nav .infoList li a:after{opacity: 0; content: ''; width: 45px; height: 53px; position: absolute; top: 50%; transform: translateY(-50%); right:-43px; background: url(../images/sub/arrow_icon.svg)no-repeat center; transition: all .5s; overflow: hidden;}
aside nav .infoList li a:hover,
aside nav .infoList li a:active{background-color: #4580EE; color: #fff;}
aside nav .infoList li a:hover:after,
aside nav .infoList li a:active:after{opacity: 1; overflow: visible;}
aside nav .infoList li a.active{background-color: #4580EE; color: #fff;}
aside nav .infoList li a.active::after{opacity: 1; overflow: visible;}

/* 시정알림 */
.notificationBox{padding: 90px 120px 64px;}
.notificationBox .notificationContentBox{display: flex; border-top: 5px solid #4E81A6; border-bottom: 1px solid #4E81A6;}
.notificationBox .notificationListBox{display: flex; flex-direction: column; width: 829px;}
.notificationBox .notificationListBox a{flex: 1; padding: 56px 66px 0 49px; display: block; height: 266px; border: 1px solid #4E81A6; border-width: 0 1px 1px 0; background-color: #F7F7F8; transition: all .5s;}
.notificationBox .notificationListBox a:last-child{border-bottom: 0;}
.notificationBox .notificationListBox a h3{position: relative; padding-left: 52px; gap: 0 32px; margin-bottom: 60px; font-size: 42px; color: #6D7686; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; transition: all .5s;}
.notificationBox .notificationListBox a h3::before{content: ''; position: absolute; top:6px; left:0; width: 28px; height: 28px; border-radius: 7px; background-color: #A3BDD2; transition: all .5s;}
.notificationBox .notificationListBox a .date{padding-left: 52px; display: block; font-size: 30px; color: #BBBBBB;}
.notificationBox .notificationListBox a:hover,
.notificationBox .notificationListBox a:active{background-color: #fff;}
.notificationBox .notificationListBox a:hover h3,
.notificationBox .notificationListBox a:active h3{color: #4580EE;}
.notificationBox .notificationListBox a:hover h3::before,
.notificationBox .notificationListBox a:active h3::before{background-color: #93CEFF;}
.notificationBox .notificationDetailBox{flex: 1; padding: 0 47px;}
.notificationBox .notificationDetailBox .notificationDetail{display: flex; flex-direction: column;}
.notificationBox .notificationDetailBox .notificationDetail .topBox{gap: 0 30px; display: flex; justify-content: space-between; flex-wrap: wrap; padding: 65px 50px 54px 68px; min-height: 203px; border-bottom: 1px solid #4E81A6;}
.notificationBox .notificationDetailBox .notificationDetail .topBox h3{font-size: 54px; color: #000;}
.notificationBox .notificationDetailBox .notificationDetail .topBox .date{margin-top: 12px; font-size: 36px; color: #BBB;}
.notificationBox .notificationDetailBox .notificationDetail .contentBox{flex-shrink: 0; padding: 50px 107px; height: 1251px; overflow-y: auto; font-size: 18px;}
.notificationBox .notificationDetailBox .notificationDetail .contentBox::-webkit-scrollbar {width: 66px; height: 66px;}
.notificationBox .notificationDetailBox .notificationDetail .contentBox::-webkit-scrollbar-track{background: #E2E2E2;}
.notificationBox .notificationDetailBox .notificationDetail .contentBox::-webkit-scrollbar-thumb {background: #B2B2B2; border-radius: 50px;}
.notificationBox .notificationDetailBox .notificationDetail .contentBox::-webkit-scrollbar-button{height: 65px;}
.notificationBox .notificationDetailBox .notificationDetail .contentBox::-webkit-scrollbar-button:single-button:decrement {background: #3C3939 url('../images/sub/arrow_icon02.svg') no-repeat center;}
.notificationBox .notificationDetailBox .notificationDetail .contentBox::-webkit-scrollbar-button:single-button:increment{background: #3C3939 url('../images/sub/arrow_icon01.svg') no-repeat center;}
.notificationBox .notificationDetailBox .notificationDetail .contentBox img{display: block; margin: 0 auto 50px;}
.notificationBox .notificationDetailBox .notificationDetail .contentBox p{font-size: 26px;}
.notificationBox .notificationDetailBox .notificationDetail .infoBox{display: flex; border: 1px solid #4E81A6; border-width: 1px 0 0 0;}
.notificationBox .notificationDetailBox .notificationDetail .infoBox .box{height: 148px; display: flex; align-items: center; border-right: 1px solid #4E81A6;}
.notificationBox .notificationDetailBox .notificationDetail .infoBox .box:last-child{border-right: 0;}
.notificationBox .notificationDetailBox .notificationDetail .infoBox .box span{padding-top: 20px; flex-shrink: 0; position: relative; width: 200px; font-size: 34px; color: #7285A3; text-align: center;}
.notificationBox .notificationDetailBox .notificationDetail .infoBox .box span::after{content: ''; position: absolute; top:-6px; right:0; width: 1px; height: 88px; background-color: #4E81A6;}
.notificationBox .notificationDetailBox .notificationDetail .infoBox .box em{flex-shrink: 0; padding:20px 58px 0 60px; font-size: 36px; color: #363636;} 

/* 내곁에춘천 */
.chuncheonBox{height: 100%; padding: 130px 111px; background: url(../images/sub/bg.svg)no-repeat top; }
.tabMenu{width: 100%; display: flex; margin-bottom: 100px;}
.tabMenu li{flex: 1; text-align: center;}
.tabMenu li .tabBtn{position: relative; padding: 32px 0; width: 100%; color: #666; font-size: 48px; border-bottom: 1px solid #000;}
.tabMenu li .tabBtn.active{color: #447BD3; border-bottom: 0;}
.tabMenu li .tabBtn.active::before{content: ''; position: absolute; left:0; bottom: -2px; right:0; height: 5px; background-color: #447BD3;}
.tabMenu li .tabBtn::after{content: ''; position: absolute; left:0; bottom: -2px; width: 0; height: 5px; transition: all .5s; background-color: #447BD3;}
.tabMenu li .tabBtn:hover,
.tabMenu li .tabBtn:active{color: #447BD3; border-bottom: 0;}
.tabMenu li .tabBtn:hover::after,
.tabMenu li .tabBtn:active::after{width: 100%;}
.tabContent{padding: 0 60px;}
.tabContentList{display: flex; flex-wrap: wrap; gap: 0 40px;}
.tabContentList li{width: 528px; margin-bottom: 40px;}
.tabContentList li a{position: relative; display: block; height: 538px;}
.tabContentList li a .imgBox{height: 250px; border-radius: 40px 40px 0 0; overflow: hidden;}
.tabContentList li a .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover; transition: all 1s;}
.tabContentList li a:hover .imgBox img,
.tabContentList li a:active .imgBox img{transform: scale(1.3);}
.tabContentList li a .textBox{height: 288px; padding: 33px 46px 0; border: 1px solid #AAB4C5; border-radius:  0 0 40px 40px;} 
.tabContentList li a .textBox h3{margin-bottom: 5px; font-size: 40px; color: #28498F; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.tabContentList li a .textBox p{font-size: 34px; font-weight: 500; color: #333; font-family: 'Pretendard', sans-serif; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tabContentList li a .textBox .view{padding-top: 12px; display: flex; justify-content: space-between; align-items: center; margin-top: 32px; height: 100px; color: #333; font-size: 28px; border-top: 1px solid #AAB4C5;}
.tabContentList li a .textBox .view::after{content: ''; margin-top: -5px; width: 45px; height: 45px; background: url(../images/sub/arrow_icon03.svg)no-repeat center;}
.tabContentList li a .like{width: 87px; height: 94px; position: absolute; top:-32px; left:46px; background: url(../images/sub/like.svg)no-repeat center;}
.paginationBox {margin: 60px 0 30px; gap: 10px 15px;  display: flex; flex-wrap: wrap; align-items: center; justify-content: center;}
.paginationBox .pageLink{padding-top: 8px; position: relative; display: flex; align-items: center; justify-content: center; width: 58px; height: 58px; color: #fff; border-radius: 50px; background-color: #2D3D3A; font-size: 24px;}
.paginationBox .pageLink.pageLinkPrev{margin-right: 20px;}
.paginationBox .pageLink.pageLinkNext{margin-left: 20px;}
.paginationBox .pageLink.pageLinkPrev,
.paginationBox .pageLink.pageLinkNext{padding: 0; background:0!important;}
.paginationBox .pageLink.active{background-color: #5CBBFF;}
.paginationBox .pageLinkPrev::after,
.paginationBox .pageLinkNext::after {content: ''; width: 44px; height: 32px; position: absolute; top: 54%; left:50%; transform: translate(-50%, -50%);}
.paginationBox .pageLinkPrev::after { background: url(../images/sub/arrow_icon04.svg)no-repeat center; background-size: cover;}
.paginationBox .pageLinkNext::after{background: url(../images/sub/arrow_icon05.svg)no-repeat center; background-size: cover;}

/* 내곁에춘천 - 상세 */
.chuncheonViewBox{position: relative; padding: 120px 126px 86px; height: 100%;}
.chuncheonViewBox::after{width: 936px; height: 786px; content: ''; position: absolute; top:0; right:0; background: url(../images/sub/bg_icon05.svg)no-repeat center; z-index: -1;}
.chuncheonViewBox .topTitleBox{padding-bottom: 46px; display: flex; align-items: flex-end; gap: 0 51px; margin-bottom: 75px; border-bottom: 1px solid #000000;}
.chuncheonViewBox .topTitleBox h3{ text-align: center; font-size: 62px; color: #28498F; line-height: 1;}
.chuncheonViewBox .topTitleBox p{text-align: center; font-size: 40px; font-weight: 500;  font-family: 'Pretendard', sans-serif;}
.chuncheonViewBox .layoutBox{display: flex; gap: 0 103px;}
.chuncheonViewBox .leftBox{width: 1768px; flex-shrink: 0;}
.chuncheonViewBox .rightBox{flex: 1;}
.chuncheonViewBox .slickBox{position: relative;}
.chuncheonViewBox .slickBox button{width: 116px; height: 120px; position: absolute; top: 50%; transform: translateY(-50%); background-color: rgba(0, 0, 0, 0.55);}
.chuncheonViewBox .slickBox button.prev{left:0;}
.chuncheonViewBox .slickBox button.next{right:0;}
.chuncheonViewBox .slickBox button::after{width: 38px; height: 54px; content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.chuncheonViewBox .slickBox button.prev::after{background: url(../images/sub/arrow_icon06.svg)no-repeat center;}
.chuncheonViewBox .slickBox button.next::after{background: url(../images/sub/arrow_icon07.svg)no-repeat center;}
.chuncheonViewBox .slideBox .slide{height: 1356px;}
.chuncheonViewBox .slideBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.chuncheonViewBox .textBox{margin-bottom: 30px; }
.chuncheonViewBox .textBox .top{margin-bottom: 30px;padding-bottom: 10px;}
.chuncheonViewBox .textBox .top h4{gap: 0 28px; display: flex; align-content: center;  position: relative; font-size: 40px;}
.chuncheonViewBox .textBox .top h4::before{margin-top: -7px; width: 52px; height: 52px; content: ''; background: url(../images/sub/icon02.svg)no-repeat center;}
.chuncheonViewBox .textBox .top .btn{display: flex; align-items: center; gap: 0 20px; padding: 0 20px 0 30px; height: 60px; border-radius: 6px; border: 1px solid #C2C2C2; font-family: 'Pretendard', sans-serif; font-size: 26px; font-weight: 500;} 
.chuncheonViewBox .textBox .top .btn::before{content: ''; width: 32px; height: 32px; background: url(../images/sub/icon01.svg)no-repeat center; background-size: contain;}
.chuncheonViewBox .textBox .list li{display: flex; align-items: center; gap: 0 0;}
.chuncheonViewBox .textBox .list li{margin-bottom: 30px;}
.chuncheonViewBox .textBox .list li span{flex-shrink: 0; width: 260px; font-size: 36px; font-weight: 700; color: #345A8C;}
.chuncheonViewBox .textBox .list li em{font-size: 36px;  font-weight: 500; color: #515151;}
.chuncheonViewBox .textBox .list li .infoText{height: 314px; padding: 30px 40px; font-size: 36px; font-weight: 500; overflow-y: auto; border: 1px solid #ababab; border-radius: 10px; color: #515151;}
.chuncheonViewBox .mapBox{margin-bottom: 50px; height: 340px; border-radius: 50px; overflow: hidden; border: 1px solid #ABABAB;}
.chuncheonViewBox .mapBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.chuncheonViewBox .btnBox{display: flex; gap: 0 33px; justify-content: flex-end;}
.chuncheonViewBox .btnBox a{display: block; width: 300px; height: 80px; line-height: 90px; color: #fff; font-size: 30px; background-color: #2D3D3A; text-align: center; border-radius: 15px;}

/* 행복알리미 */
.happyBox{padding: 120px 111px;}
.noticeList{display: flex; flex-wrap: wrap; gap: 0 80px;}
.noticeList li{margin-bottom: 68px;}
.noticeList li a{display: block; width: 521px;}
.noticeList li a:hover .imgBox,
.noticeList li a:active .imgBox{box-shadow: 10px 10px 20px rgba(0,0,0,.35);}
.noticeList li a:hover .imgBox img,
.noticeList li a:active .imgBox img{transform: scale(1.3);}
.noticeList li a .imgBox{margin-bottom: 56px; height: 484px; border-radius: 40px; overflow: hidden; transition: all 1s;}
.noticeList li a .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover; transition: all 1s;}
.noticeList li a .textBox h3{margin-bottom: 20px; font-size: 40px; color: #28498F; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.noticeList li a .textBox .date{display: block; font-size: 36px; color: #333;}

/* 행복알리미 - 상세 */
.happyViewBox{padding: 100px 126px 86px;}
.happyViewBox .topBox{padding-bottom: 30px; display: flex; align-items: flex-end; gap: 0 0; justify-content: space-between; }
.happyViewBox .topBox h3{color: #000; font-size: 62px;}
.happyViewBox .topBox span{color: #BBB; font-size: 36px;}
.happyViewBox .detailBox{margin-bottom: 35px; padding: 65px 100px 65px 44px; height: 1318px; overflow-y: auto; border: 1px solid #223F69; border-width: 1px 0;}
.happyViewBox .detailBox::-webkit-scrollbar {width: 66px; height: 66px;}
.happyViewBox .detailBox::-webkit-scrollbar-track{background: #E2E2E2;}
.happyViewBox .detailBox::-webkit-scrollbar-thumb {background: #B2B2B2; border-radius: 50px;}
.happyViewBox .detailBox::-webkit-scrollbar-button{height: 65px;}
.happyViewBox .detailBox::-webkit-scrollbar-button:single-button:decrement {background: #3C3939 url('../images/sub/arrow_icon02.svg') no-repeat center;}
.happyViewBox .detailBox::-webkit-scrollbar-button:single-button:increment{background: #3C3939 url('../images/sub/arrow_icon01.svg') no-repeat center;}
.happyViewBox .detailBox img{display: block; width: 100%; height: 100%; margin: 0 auto 30px; object-fit: cover;}
.happyViewBox .btnBox{display: flex; gap: 0 33px; justify-content: flex-end;}
.happyViewBox .btnBox a{display: block; width: 300px; height: 80px; line-height: 90px; color: #fff; font-size: 30px; background-color: #2D3D3A; text-align: center; border-radius: 15px;}







/* 조직안내 */
.orgInfoBox{opacity: 0; height: 100%; position: relative; padding: 96px 226px 67px; background: url(../images/sub/bg02.svg) no-repeat center bottom; overflow: hidden;}
.orgInfoBox::after{width: 1191px; height: 1001px; content: ''; position: absolute; top:-50px; right:-50px; transform: translate(100%, -100%) rotate(15deg); background: url(../images/sub/bg_icon04.svg)no-repeat right top; z-index: -1; transition: all 1s .3s;}
.orgInfoBox.effect::after {right:0; top:0; transform: translate(0, 0) rotate(0deg); opacity: 1;}
.orgInfoBox .orgChartList01{position: relative;}
.orgInfoBox .orgChartList01::after{content: ''; position: absolute; top:247px; left:50%; width: 1px; height: 587px; background-color: #6C6C6C; z-index: -1;}
.orgInfoBox .orgChartList01 li .org01{padding-top: 65px; width: 445px; height: 278px; display: block; margin: 0 auto; font-size: 52px; color: #fff; background: url(../images/sub/org_bg.svg)no-repeat  10px top; text-align: center;}
.orgInfoBox .orgChartList02{margin: -62px 0; padding-left: 508px; width: 50%; position: relative;}
.orgInfoBox .orgChartList02::after{content: ''; position: absolute; top: 50%; right:0; width: 357px; height: 1px; background-color: #6C6C6C;}
.orgInfoBox .orgChartList02::before{content: ''; position: absolute; top: 50%; transform: translateY(-50%); right:357px; width: 1px; height: 132px; background-color: #6C6C6C;}
.orgInfoBox .orgChartList02 li{position: relative; margin-bottom: 22px;}
.orgInfoBox .orgChartList02 li::after{content: ''; position: absolute; top: 50%; right:357px; width: 116px; height: 1px; background-color: #6C6C6C;}
.orgInfoBox .orgChartList02 li:nth-child(1)::after{top: 53%;}
.orgInfoBox .orgChartList02 li:nth-child(2)::after{top: 47%;}
.orgInfoBox .orgChartList02 li a{padding: 39px 0; display: block; width: 366px; height: 118px; font-size: 38px; color: #fff; background-color: #1FA6B2; border-radius: 40px 0 40px 0; text-align: center;}
.orgInfoBox .orgChartList03 > li > a{position: relative; padding: 39px 0; display: block; width: 366px; height: 118px; margin: 0 auto; background-color: #526DB8; font-size: 38px; color: #fff; border-radius: 40px 0 40px 0; text-align: center; z-index: 99;}
.orgInfoBox .orgChartList04{margin-top: -346px; margin-bottom: 68px; margin-left: auto; position: relative; width: 50%; padding-right: 508px; display: flex; flex-direction: column; align-items: flex-end;}
.orgInfoBox .orgChartList04::after{content: ''; position: absolute; bottom: 167px; left: 0; width: 357px; height: 1px; background-color: #6C6C6C;}
.orgInfoBox .orgChartList04::before{content: ''; position: absolute; top:61px; bottom: 81px; left: 357px; width: 1px; background-color: #6C6C6C;} 
.orgInfoBox .orgChartList04 li{position: relative; margin-bottom: 22px;}
.orgInfoBox .orgChartList04 li::before{content: ''; position: absolute; top: 50%; left: -117px; width: 116px; height: 1px;
    background-color: #6C6C6C;}
.orgInfoBox .orgChartList04 li a{display: block; padding: 39px 0; width: 366px; height: 118px; font-size: 38px; color: #fff; border-radius: 40px 0 40px 0; text-align: center; background-color: #32AA68;}
.orgInfoBox .orgChartList05{padding-top: 77px; position: relative; display: flex; justify-content: space-between; gap: 0 36px;}
.orgInfoBox .orgChartList05 > li{display: flex; flex-direction: column; position: relative;}
.orgInfoBox .orgChartList05 > li::after{content: ''; position: absolute; top:-77px; left:50%; width: 1px; height: 77px; background-color: #6C6C6C;}
.orgInfoBox .orgChartList05 > li:first-child:before{content: ''; position: absolute; top:-77px; left:50%; width: 50%; height: 1px; background-color: #6C6C6C;}
.orgInfoBox .orgChartList05 > li:last-child:before{content: ''; position: absolute; top:-77px; right:50%; width: 50%; height: 1px; background-color: #6C6C6C;}
.orgInfoBox .orgChartList05::before{width: 100%; content: ''; position: absolute; left:50%; transform: translateX(-50%); top:0; width: 80%; height: 1px; background-color: #6C6C6C;}
.orgInfoBox .orgChartList05 > li > a{padding: 30px 0; display: block; width: 414px; height: 102px; border-radius: 40px 40px 0 0; text-align: center; font-size: 38px; background-color: #575C6A; color: #fff; text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);}
.orgInfoBox .orgChartList06{flex: 1; padding: 38px 20px 38px 68px; border: 1px solid #8699A8; background-color: #fff;}
.orgInfoBox .orgChartList06 li{position: relative; display: flex; gap: 0 25px;}
.orgInfoBox .orgChartList06 li::before{content: ''; margin-top: 26px; width: 13px; height: 13px; background-color: #7A7A7A;}
.orgInfoBox .orgChartList06 li a{padding: 13px 0; font-size: 34px; color: #7B8192;}
.orgInfoBox .orgChartList.icon{margin-left: 140px;}
.orgInfoBox .orgChartList.icon > li{position: relative;}
.orgInfoBox .orgChartList.icon > li::before{content: ''; position: absolute; top: 50%; transform: translateY(-50%); left:-475px;}
.orgInfoBox .orgChartList.icon > li:nth-child(1):before{width: 406px; height: 470px; background: url(../images/sub/building_img01.svg)no-repeat center;}
.orgInfoBox .orgChartList.icon > li:nth-child(2)::before{width: 359px; height: 470px; background: url(../images/sub/building_img02.svg)no-repeat center;}
.orgInfoBox .orgChartListType01 .orgChartList06{border-top: 0!important; border-radius: 0 0 6px 6px!important;}
.orgInfoBox .orgChartListType01 > li{width: 881px; /* display: flex; flex-direction: column;*/ margin-bottom: 179px;}
.orgInfoBox .orgChartListType01 > li > a{height: 120px; padding: 38px 0; display: block; border-radius: 40px 40px 0 0; text-align: center; font-size: 38px; background-color: #575C6A; color: #fff; text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);}
.orgInfoBox .orgChartListType01 .orgChartList06{padding: 30px!important; align-items: flex-start; display: flex; flex-wrap: wrap; gap: 20px; flex: 1; padding: 38px 20px 38px 68px; border: 1px solid #8699A8; background-color: #fff;}
.orgInfoBox .orgChartListType01 .orgChartList06 li a{display: block; padding: 40px 0; width: 398px; height: 125px; font-size: 34px; color: #7B8192; background-color: #fafafa; text-align: center; border-radius: 10px; border: 1px solid #8699A8;}
.orgInfoBox .orgChartListType01 .orgChartList06 li::before{display: none;}
.orgInfoBox .orgLayoutBox{display: flex; gap: 0 148px;}
.orgInfoBox .orgLayoutBox .orgChartList{display: flex; gap: 0 148px}
.orgInfoBox .orgBox{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.orgInfoBox .orgChartList06{padding: 25px 20px 15px 68px;}
.orgInfoBox .orgLink li{margin-bottom: 9px;}
.orgInfoBox .orgLink li a{padding: 49px 0; display: block; width: 500px; height: 140px; border-radius: 20px; background-color: #575C6A; font-size: 38px; color: #fff; text-align: center;}
.orgInfoBox .orgChartListType02{position: relative;}
.orgInfoBox .orgChartListType02::before{content: ''; position: absolute; top:0; left:50%; bottom: 0; width: 1px; background-color: #6C6C6C; z-index: -1;}
.orgInfoBox .orgChartListType02 > li{display: flex; flex-direction: column;}
.orgInfoBox .orgChartListType02 > li > a{display: block; padding: 39px 0; width: 366px;
    height: 118px; margin: 0 auto; background-color: #1FA6B2; font-size: 38px; color: #fff;
    border-radius: 40px 0 40px 0;text-align: center; order: 2;}
.orgInfoBox .orgChartListType03 > li{display: flex; flex-direction: column; margin-bottom: 72px;}
.orgInfoBox .orgChartListType03 > li > a{order: 2; display: block; padding: 39px 0; width: 366px;
    height: 118px; margin: 0 auto; background-color: #526DB8; font-size: 38px; color: #fff;
    border-radius: 40px 0 40px 0;text-align: center;}
.orgInfoBox .orgChartListType04{position: relative; display: flex; gap: 0 155px; margin-bottom: 207px;}
.orgInfoBox .orgChartListType04::before{content: ''; position: absolute; left: 50%;
    transform: translateX(-50%); bottom: -77px; width: 85.1%; height: 1px; background-color: #6C6C6C;}
.orgInfoBox .orgChartListType04 > li{position: relative;}
.orgInfoBox .orgChartListType04 > li > a{position: relative; padding: 34px 0; display: block; width: 367px; height: 118px; border: 2px solid #266AD6; border-radius: 40px 0; font-size: 38px; color: #266AD6; text-align: center; background-color: #fff; transition: all 1s; z-index: 1;} 
.orgInfoBox .orgChartListType04 > li > a::before{content: ''; position: absolute; top:0; left:0; bottom: 0; width: 0; transition: all .5s; background-color: #266AD6; z-index: -1; border-radius: 40px 0;}
.orgInfoBox .orgChartListType04 > li > a:hover,
.orgInfoBox .orgChartListType04 > li > a:active{color: #fff;}
.orgInfoBox .orgChartListType04 > li > a:hover::before,
.orgInfoBox .orgChartListType04 > li > a:active::before{width: 100%;}
.orgInfoBox .orgChartListType04 > li::after{content: ''; position: absolute; bottom: -77px;
    left: 50%; width: 1px; height: 77px; background-color: #6C6C6C;}
.orgInfoBox .orgChartListType04 > li:first-child:before{display: none; content: ''; position: absolute;
    bottom: -77px; left: 50%; width: 50%; height: 1px; background-color: #6C6C6C;}
.orgInfoBox .orgChartListType04 > li:last-child:before{display: none; content: ''; position: absolute;
    bottom: -77px; right: 50%; width: 50%; height: 1px; background-color: #6C6C6C;}